<div >
    <h1>
      Course Name: {{name}}
    </h1>
    <h3>Amount:{{amount}}</h3>
</div>
<div [hidden]=true>How are you property binding</div>
<div *ngIf=false>How are you ng if</div>
<h3>Course Topics:</h3>
<ul>
    <li *ngFor="let t of topics">{{t}}</li>  
     
</ul>
<br>
New Topic <br/>
<input type="text" #topic>
<br/>
<button (click)="addTopic(topic.value)">Add Topic </button>
<button name="cleartopic" (click)="clearTopic()">Clear Topic</button>

<br><br>
<input type="text" name="fname" [(ngModel)]="fname"/>
<input type="text" name="fname" [(ngModel)]="fname"/>
<br><br>
{{fname}}

<app-course1></app-course1>
<app-course3></app-course3>
<app-interest></app-interest>

