<h1>Interest Calculation</h1>
Amount:<input type="text" [(ngModel)]="amount"><br> Rate:
<input type="text" [(ngModel)]="rate"><br> Term:
<input type="text" [(ngModel)]="term"><br>

<br>
<p *ngIf="amount>0 && rate>0 && term>0">Interest={{amount*rate*term/100 | currency:'INR'}}</p>
<button (click)="clearAll()">Clear All</button>

<div>{{ birthday | date: "dd/mm/yy"}} {{ birthday | date | uppercase}} {{ birthday | date:'hh:mm:ss'}}</div>
<br>
<br>
<div [ngClass]="myclass">Some attribute Directive content</div>

<p [ngStyle]="{'color':'red','padding':'10px','border':'3px solid green'}">Here some content Dumment fhmjhkjhnkj dfffghhjhjkkjkjlkllkghmhbjnmk hgfghbvhbjkhtrytrertsd
</p>
<input type="text" [(ngModel)]="fname" />
<input type="text" [(ngModel)]="fname" />
<p>{{fname}}</p>

<br><br>
<div *ngIf="false">HiSrinivas</div>
<div *ngIf="true">True Srinivas</div>

<h2>NgIf</h2>
<div *ngIf="true">HiSrinivas ng if true</div>
<div *ngIf="switch">HiSrinivas ng if true</div>
<button (click)="onSwitch()">Switch</button>
<h2>Structural Custom Directive</h2>
<div *appUnless="switch">HiSrinivas structural directive true</div>

<div [ngClass]="twowaybinding">Angular training</div>
<input type="checkbox" [(ngModel)]="twowaybinding.big" />Big
<input type="checkbox" [(ngModel)]="twowaybinding.green" />GreenColor

<div *ngFor="let name of names">{{name}}</div>
<div *ngFor="let name of names; let i=index">{{i + 1}} => {{name}}</div>

<div [ngSwitch]="mode">
    <h1 *ngSwitchCase="'f'">Flight {{flight}} </h1>
    <h2 *ngSwitchCase="'t'">Train {{train}} </h2>
    <h3 *ngSwitchDefault>Private Transport </h3>
</div><br>
<div appAttrhighlight>Attribute custom Highlight Directive

    <div>Srini</div>
    <div>Srini</div>
</div>